/* midle3.css */

.container {
    display: flex;
    align-items: right;
    justify-content: space-between;
    padding: 20px;
  }
  
  .text-container {
    max-width: 60%;
  }
  
  h1, h2 {
    margin: 0;
    text-align: right;
  }
  
  h1 {
    font-size: 1.5rem;
  }
  
  h2 {
    font-size: 1rem;
    width: 55%;
    margin: 1rem 0;
    line-height: 1.5;
    word-break: break-word; /* برای شکستن خطوط در متن طولانی */
  }
  
  img {
    width: 35%;
    height: auto;
    object-fit: cover; /* برای جلوگیری از تغییر نسبت ابعاد تصویر */
  }
  
  button {
    margin: 5px;
  }
  