/* General styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Header styles */
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: background-color 0.9s ease;
}

.bg-transparent {
    background-color: rgba(0, 0, 0, 0.5); 
}

.bg-black {
    background-color: #000000; 
}

.header {
    position: relative;
    background-image: url(../dist/Image/2.jpeg);
    width: 100%;
    background-size: cover;
}

.header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 15%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(29, 30, 30) 80%);
}

/* Hover box styles */
.hover-box {
    transition: all 0.9s ease;
}

.hover-box:hover {
    opacity: 1;
}

.hover-box:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s ease;
}

.hover-link:hover {
    color: #2b2b2b;
    transition: color 0.3s ease;
}

/* Switch categories */
.switch_cat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    border: 1px solid #706d6d;
    border-radius: 25px;
    overflow: hidden;
    height: 34px;
    font-family: Arial, sans-serif;
}

.switch_option {
    flex: 1;
    text-align: center;
    cursor: pointer;
    color: white;
    border-radius: 25px;
    transition: background-color 0.3s, color 0.3s;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .header {
        height: 50vh;
    }

    .hover-box {
        width: 80%;
        margin: 0 auto;
    }

    .switch_cat {
        width: 80%;
        margin: 0 auto;
    }

    .text-sm {
        font-size: 12px;
    }

    .text-xl {
        font-size: 18px;
    }

    .text-2xl {
        font-size: 24px;
    }
}
